.not_found_page{
    width: 100%;
    height: calc(100vh - 4rem);
    margin-top: 4rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
}